        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
            <div class="inner-banner-three text-center p-30">
                <div class="bg-wrapper text-center">
                    <div class="container">
                        <div class="title-style-five">
                            <h2 class="main-title tx-dark fw-bold">About us</h2>
                        </div>
                        <p class="fs-20 mt-30 lg-mt-20">We are the leading Vehicle Scrapping Facilitator (VSF) in PAN India & we do all Public and Private Automobile Scrapping (Bike, Car, Van, Bus, Goods Carriages, Agriculture & Construction Vehicles  etc...).</p>
                    </div>
                </div>
            </div>
            <!-- /.inner-banner-three -->
    
    
    
    
            <!-- 
                =============================================
                    Feature Section Two
                ============================================== 
                -->
            <div class="fancy-feature-two position-relative pt-150 lg-pt-90">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6 ms-auto order-md-last">
                            <div class="block-style-one wow fadeInRight">
                                <div class="title-style-one">
                                    <div class="sc-title text-uppercase">About us</div>
                                    <h2 class="main-title fw-bold tx-dark m0">We’ve been helping <span>customer</span> PAN India.</h2>
                                </div>
                                <!-- /.title-style-one -->
                                <h4 class="tx-dark pt-65 pb-20 lg-pt-40 lg-pb-10">Who we are?</h4>
                                <p class="fs-20">We are Pioneers in the tech driven supply chain for vehicle scrapping.
                                  Car Basket is India's no. 1 All Vehicle Scrapping Platform solving one of the toughest problems in scrapping supply chain through technology.</p>
                                <p class="fs-18 mb-10 pt-30 lg-pt-20"><span class="fw-500 tx-dark">Avg 4.8 rating</span> makes us India's best scraping company.</p>
                                <ul class="d-flex style-none rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star"></i></li>
                                </ul>
                            </div>
                            <!-- /.block-style-one -->
                        </div>
                        <div class="col-md-6 order-md-first wow fadeInLeft">
                            <div class="img-meta d-inline-block position-relative ps-3 ps-lg-5 pb-50 sm-mt-90">
                                <img src="../../../../assets/images/media/img_01.jpg" data-src="../../../../assets/images/media/img_01.jpg" alt="" class="lazy-img">
                                <img src="../../../../assets/images/shape/shape_09.svg" data-src="../../../../assets/images/shape/shape_09.svg" alt="" class="lazy-img shapes shape-one">
                                <img src="../../../../assets/images/shape/shape_10.svg" data-src="../../../../assets/images/shape/shape_10.svg" alt="" class="lazy-img shapes shape-two">
                                <div class="shapes shape-three"></div>
                                <img src="../../../../assets/images/shape/shape_11.svg" data-src="../../../../assets/images/shape/shape_11.svg" alt="" class="lazy-img shapes shape-four">
                                <img src="../../../../assets/images/shape/shape_12.svg" data-src="../../../../assets/images/shape/shape_12.svg" alt="" class="lazy-img shapes shape-five">
                                <div class="shapes shape-six"></div>
                                <img src="../../../../assets/images/shape/shape_13.svg" data-src="../../../../assets/images/shape/shape_13.svg" alt="" class="lazy-img shapes shape-seven">
                                <!-- <div class="card-one wow fadeInUp" data-wow-delay="0.25s">
                                    <div class="icon d-flex align-items-center justify-content-center rounded-circle"><img src="../../../../assets/images/icon/icon_06.svg" data-src="../../../../assets/images/icon/icon_06.svg" alt="" class="lazy-img"></div>
                                    <div class="name fs-18 fw-500 tx-dark mb-10">- Anwar Yarab, <span class="opacity-50">Founder</span></div>
                                    <p class="fs-18 m0">We aim to answer any quis query in a minute</p>
                                </div> -->
                                <!-- /.card-one -->
                            </div>
                            <!-- /.img-meta -->
                        </div>
                    </div>
                </div>
                <!-- /.container -->
    
                <div class="container">
                    <div class="row justify-content-center pt-60 md-pt-40">
                        <div class="col-lg-4 col-sm-6">
                            <div class="counter-block-three text-center mt-40 wow fadeInUp">
                                <div class="main-count fw-500 tx-dark"><span class="counter">3.6</span>k</div>
                                <p class="tx-dark fs-18 m0">Happy Customers</p>
                            </div>
                            <!-- /.counter-block-three -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="counter-block-three text-center mt-40 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="main-count fw-500 tx-dark"><span class="counter">1260</span>+</div>
                                <p class="tx-dark fs-18 m0">Dealer Network</p>
                            </div>
                            <!-- /.counter-block-three -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="counter-block-three text-center mt-40 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="main-count fw-500 tx-dark"><span class="counter">15</span>+</div>
                                <p class="tx-dark fs-18 m0">Field Experience</p>
                            </div>
                            <!-- /.counter-block-three -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.fancy-feature-two -->
    
    
    
    
            <!-- 
                =============================================
                    Feature Section Fifty Four
                ============================================== 
                -->
            <div class="fancy-feature-fiftyFour p-30 mt-150 lg-mt-90">
                <div class="bg-wrapper position-relative zn2 pt-140 lg-pt-60 pb-140 lg-pb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 wow fadeInLeft">
                                <div class="title-style-one mt-30">
                                    <div class="sc-title text-uppercase">Why us?</div>
                                    <h2 class="main-title fw-bold tx-dark">Why <span>choose</span> Car Basket.</h2>
                                </div>
                                <!-- /.title-style-one -->
                                <p class="text-lg mt-40 lg-mt-20">Professional executives with a customer-first approach and services</p>
                                <img src="../../../../assets/images/shape/shape_179.svg" data-src="../../../../assets/images/shape/shape_179.svg" alt="" class="lazy-img d-none d-lg-block mt-80">
                            </div>
                            <div class="col-lg-7 ms-auto">
                                <div class="row gx-xxl-5">
                                    <div class="col-sm-6">
                                        <div class="card-style-twentyFour bg-white mt-30 wow fadeInUp">
                                            <div class="icon"><img src="../../../../assets/images/icon/icon_152.svg" data-src="../../../../assets/images/icon/icon_152.svg" alt="" class="lazy-img mh-100"></div>
                                            <h4 class="fw-bold tx-dark mt-30 mb-15">Quality Service</h4>
                                            <p class="fs-18">Customer service shouldn't just be a department, it should be the entire company.</p>
                                        </div>
                                        <!-- /.card-style-twentyFour -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-style-twentyFour bg-white mt-30 wow fadeInUp" data-wow-delay="0.1s">
                                            <div class="icon"><img src="../../../../assets/images/icon/icon_153.svg" data-src="../../../../assets/images/icon/icon_153.svg" alt="" class="lazy-img mh-100"></div>
                                            <h4 class="fw-bold tx-dark mt-30 mb-15">24x7 Support</h4>
                                            <p class="fs-18">Help and support available 24 hours a day and 7 days a week, for exceptional customer service</p>
                                        </div>
                                        <!-- /.card-style-twentyFour -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-style-twentyFour bg-white mt-30 wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="icon"><img src="../../../../assets/images/icon/icon_154.svg" data-src="../../../../assets/images/icon/icon_154.svg" alt="" class="lazy-img mh-100"></div>
                                            <h4 class="fw-bold tx-dark mt-30 mb-15">Great Pricing</h4>
                                            <p class="fs-18">Best in the market pay-outs, on the spot.</p>
                                        </div>
                                        <!-- /.card-style-twentyFour -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-style-twentyFour bg-white mt-30 wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="icon"><img src="../../../../assets/images/icon/icon_155.svg" data-src="../../../../assets/images/icon/icon_155.svg" alt="" class="lazy-img mh-100"></div>
                                            <h4 class="fw-bold tx-dark mt-30 mb-15">100% Trusted</h4>
                                            <p class="fs-18">Trust is the glue of life. It’s the most essential ingredient in effective communication. It’s the foundational principle that holds all relationships</p>
                                        </div>
                                        <!-- /.card-style-twentyFour -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../../../../assets/images/shape/shape_11.svg" data-src="../../../../assets/images/shape/shape_11.svg" alt="" class="lazy-img shapes shape-one">
                    <img src="../../../../assets/images/shape/shape_13.svg" data-src="../../../../assets/images/shape/shape_13.svg" alt="" class="lazy-img shapes shape-two">
                    <img src="../../../../assets/images/shape/shape_10.svg" data-src="../../../../assets/images/shape/shape_10.svg" alt="" class="lazy-img shapes shape-three">
                    <img src="../../../../assets/images/shape/shape_12.svg" data-src="../../../../assets/images/shape/shape_12.svg" alt="" class="lazy-img shapes shape-four">
                </div>
                <!-- /.bg-wrapper -->
            </div>
            <!-- /.fancy-feature-fiftyFour -->
    
    
    
            <!--
                =====================================================
                    Team Section Four
                =====================================================
                -->
            <!-- <div class="team-section-four mt-150 lg-mt-90">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-xxl-6 col-md-7 wow fadeInLeft">
                            <div class="title-style-one text-center text-md-start">
                                <div class="sc-title text-uppercase">OUR TEAM</div>
                                <h2 class="main-title fw-bold tx-dark m0">We’ve talented expert to help you</h2>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-md-5 text-center text-md-end wow fadeInRight">
                            <a  class="btn-one fw-500 sm-mt-30">View full team</a>
                        </div>
                    </div>
    
                    <div class="wrapper border-bottom pt-80 lg-pt-50">
                        <div class="row gx-xxl-5">
                            <div class="col-lg-3 col-sm-6">
                                <div class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp">
                                    <div class="img-meta">
                                        <img src="../../../../assets/images/team/img_17.jpg" alt="" class="lazy-img team-img w-100" style="">
                                        <div class="info text-center">
                                            <h5 class="tx-dark fw-500 mb-5">Zubayer Al Hasan</h5>
                                            <div class="tx-dark opacity-75">Developer</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="img-meta">
                                        <img src="../../../../assets/images/team/img_16.jpg" alt="" class="lazy-img team-img w-100" style="">
                                        <div class="info text-center">
                                            <h5 class="tx-dark fw-500 mb-5">Jannatul Ferdaus</h5>
                                            <div class="tx-dark opacity-75">CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="img-meta">
                                        <img src="../../../../assets/images/team/img_18.jpg" alt="" class="lazy-img team-img w-100" style="">
                                        <div class="info text-center">
                                            <h5 class="tx-dark fw-500 mb-5">Rashed Kabir</h5>
                                            <div class="tx-dark opacity-75">Designer</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="img-meta">
                                        <img src="../../../../assets/images/team/img_19.jpg" alt="" class="lazy-img team-img w-100" style="">
                                        <div class="info text-center">
                                            <h5 class="tx-dark fw-500 mb-5">Angelina Shelly</h5>
                                            <div class="tx-dark opacity-75">Analysist</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- /.team-section-four -->
    
    
    
            <!--
                =====================================================
                    Feedback Section One
                =====================================================
                -->
            <!-- <div class="feedback-section-one position-relative p-30 mt-200 lg-mt-120 wow fadeInUp">
                <div class="bg-wrapper position-relative pt-150 pb-180 lg-pt-100 lg-pb-120">
                    <img src="../../../../assets/images/shape/shape_14.svg" data-src="../../../../assets/images/shape/shape_14.svg" alt="" class="lazy-img shapes shape-one">
                    <div class="shapes shape-two"></div>
                    <div class="shapes shape-three"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-7">
                                <div class="title-style-one text-center text-md-start">
                                    <h2 class="main-title fw-bold tx-dark m0">What’s <span>Our Client</span> Say About us.</h2>
                                </div>
                             
                            </div>
                            <div class="col-lg-6 col-md-5 ms-auto d-flex justify-content-center justify-content-sm-end">
                                <ul class="slider-arrows slick-arrow-one d-flex justify-content-center style-none mb-30">
                                    <li class="prev_f1 slick-arrow rounded-circle text-center fs-20 tran3s"><i class="bi bi-chevron-left"></i></li>
                                    <li class="next_f1 slick-arrow rounded-circle text-center fs-20 tran3s"><i class="bi bi-chevron-right"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="inner-content mt-100 lg-mt-60">
                        <div class="feedback_slider_one">
                            <div class="item">
                                <div class="feedback-block-one pt-45 align-items-end d-sm-flex">
                                    <div class="img-meta position-relative">
                                        <img src="../../../../assets/images/media/img_02.png" alt="" class="m-auto">
                                    </div>
                                    <div class="text-wrapper">
                                        <div class="icon d-flex align-items-center justify-content-center rounded-circle mb-15" style="background-color:#825EFF;"><img src="../../../../assets/images/icon/icon_07.svg" alt=""></div>
                                        <div class="rating h3 fw-bold tx-dark">Very solid, 8.3 out 10</div>
                                        <p class="text-lg pt-35 pb-20">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                        <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feedback-block-one pt-45 align-items-end d-sm-flex">
                                    <div class="img-meta position-relative">
                                        <img src="../../../../assets/images/media/img_03.png" alt="" class="m-auto">
                                    </div>
                                    <div class="text-wrapper">
                                        <div class="icon d-flex align-items-center justify-content-center rounded-circle mb-15" style="background-color:#08CE97;"><img src="../../../../assets/images/icon/icon_07.svg" alt=""></div>
                                        <div class="rating h3 fw-bold tx-dark">Very solid, 7.2 out 10</div>
                                        <p class="text-lg pt-35 pb-20">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                        <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feedback-block-one pt-45 align-items-end d-sm-flex">
                                    <div class="img-meta position-relative">
                                        <img src="../../../../assets/images/media/img_02.png" alt="" class="m-auto">
                                    </div>
                                    <div class="text-wrapper">
                                        <div class="icon d-flex align-items-center justify-content-center rounded-circle mb-15" style="background-color:#FF8A3A;"><img src="../../../../assets/images/icon/icon_07.svg" alt=""></div>
                                        <div class="rating h3 fw-bold tx-dark">Very solid, 9.1 out 10</div>
                                        <p class="text-lg pt-35 pb-20">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                        <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feedback-block-one pt-45 align-items-end d-sm-flex">
                                    <div class="img-meta position-relative">
                                        <img src="../../../../assets/images/media/img_03.png" alt="" class="m-auto">
                                    </div>
                                    <div class="text-wrapper">
                                        <div class="icon d-flex align-items-center justify-content-center rounded-circle mb-15" style="background-color:#08CE97;"><img src="../../../../assets/images/icon/icon_07.svg" alt=""></div>
                                        <div class="rating h3 fw-bold tx-dark">Very solid, 10 out 10</div>
                                        <p class="text-lg pt-35 pb-20">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                        <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    
    
    
    
    
    
          
    
    
    
      <!--
                =====================================================
                    Footer
                =====================================================
                -->
                <div class="footer-style-seven p-30 theme-basic-footer">
                    <!-- <div class="bg-wrapper position-relative">
                      <div class="container">
                        <div class="row justify-content-between">
                          <div class="col-xl-2 footer-intro mb-40">
                            <div class="logo">
                                <a
                                
                                class="d-block"
                                style="font-weight: 700; font-size: larger"
                                >CAR BASKET</a
                              >
                            </div>
                          </div>
                          <div class="col-lg-2 col-sm-4 mb-30">
                            <h5 class="footer-title tx-dark fw-normal">Links</h5>
                            <ul class="footer-nav-link style-none">
                              <li><a >Home</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="about-v1.html">About us</a></li>
                              <li><a href="service-v1.html">Service</a></li>
                              <li><a href="blog-v1.html">Blog</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-2 col-sm-4 mb-30">
                            <h5 class="footer-title tx-dark fw-normal">Support</h5>
                            <ul class="footer-nav-link style-none">
                              <li><a href="service-details.html">Item Support</a></li>
                              <li><a href="service-details.html">Forum</a></li>
                              <li><a href="service-details.html">Report Abuse</a></li>
                              <li><a href="service-details.html">Live</a></li>
                            </ul>
                          </div>
                          <div class="col-xl-2 col-lg-3 col-sm-4 mb-30">
                            <h5 class="footer-title tx-dark fw-normal">Products</h5>
                            <ul class="footer-nav-link style-none">
                              <li><a href="service-details.html">Web hosting</a></li>
                              <li><a href="service-details.html">Cloud hosting</a></li>
                              <li><a href="service-details.html">WordPress hosting</a></li>
                              <li><a href="service-details.htmll">VPS hosting</a></li>
                              <li><a href="service-details.html">Dedicated hosting</a></li>
                            </ul>
                          </div>
                          <div class="col-xl-4 col-lg-5 mb-30 form-widget">
                            <h5 class="footer-title tx-dark fw-normal">Newslettert</h5>
                            <h6 class="pt-15 pb-20 md-pt-10">Join our newsletter</h6>
                            <form action="#" class="position-relative">
                              <input type="email" placeholder="Enter your email" />
                              <button class="tran3s fw-500 position-absolute">
                                Sign Up
                              </button>
                            </form>
                            <div class="fs-14 mt-10">
                              We only send interesting and relevant emails.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- /.bg-wrapper -->