 <!-- 
			=============================================
				Theme Hero Banner
			============================================== 
			-->
            <div class="hero-banner-seven p-30">
                <div class="bg-wrapper position-relative pt-200 pb-20 md-pt-150">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 wow fadeInLeft">
                                <!-- <a href="pricing-v3.html" class="slogan d-inline-block"><strong class="fw-500">Offer</strong> is going on till friday, $1.99/mo. <i class="fas fa-chevron-right"></i></a> -->
                                <h1 class="hero-heading fw-bold tx-dark mt-25">India’s <span class="position-relative ms-3 d-inline-block">no. 1 <img src="images/shape/shape_95.svg" alt=""></span>platform for all vehicles scrap.</h1>
                                <p class="text-lg mb-70 pt-35 pe-xxl-5 md-pt-30 lg-mb-40">Cars | Bikes | Goods Vehicles | Tractors</p>
                                <a href="validationForm.html" class="btn-fourteen fw-500 tran3s">Get Valuation</a>
                                <a href="pricing-v3.html" class="btn-fourteen fw-500 tran3s scrapNowBtn">Scrap Now</a>
                            </div>
                        </div>
                        <div class="illustration-holder wow fadeInRight">
                            <img src="images/lazy.svg" data-src="images/assets/ils_05.png" alt="" class="lazy-img main-illustration">
                        </div>
                        <!-- /.illustration-holder -->
                    </div>
                    <!-- /.container -->
                </div>
            </div>
            <!-- /.hero-banner-seven -->
    
    
            <!-- 
                =============================================
                    Partner Section Four
                ============================================== 
                -->
            <div class="partner-section-four position-relative pt-100 sm-pt-70">
                <div class="wrapper m-auto">
                    <div class="partner_slider_one row">
                        <div class="item"><img src="images/logo/Plogo-23.png" alt="" class="m-auto"></div>
                        <div class="item"><img src="images/logo/Plogo-24.png" alt="" class="m-auto"></div>
                        <div class="item"><img src="images/logo/Plogo-25.png" alt="" class="m-auto"></div>
                        <div class="item"><img src="images/logo/Plogo-26.png" alt="" class="m-auto"></div>
                        <div class="item"><img src="images/logo/Plogo-27.png" alt="" class="m-auto"></div>
                        <div class="item"><img src="images/logo/Plogo-24.png" alt="" class="m-auto"></div>
                        <div class="item"><img src="images/logo/Plogo-26.png" alt="" class="m-auto"></div>
                    </div>
                </div>
                <!-- /.wrapper -->
            </div>
            <!-- /.partner-section-four -->
    
    
    
    
            <!-- 
                =============================================
                    Pricing Section Four
                ============================================== 
                -->
            <div class="pricing-section-four pt-170 lg-pt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-10 col-md-9 m-auto">
                            <div class="title-style-seven text-center wow fadeInUp">
                                <h2 class="main-title fw-bold tx-dark">Solo, Agency or Team? We’ve got you <span class="position-relative d-inline-block">covered <img src="images/shape/shape_96.svg" alt=""></span></h2>
                            </div>
                            <!-- /.title-style-seven -->
                        </div>
                    </div>
                </div>
                <div class="wrapper pricing-table-area-four m-auto pt-80 lg-pt-30">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6">
                            <div class="pr-table-wrapper mt-40 wow fadeInUp">
                                <div class="pack-name fw-500 tx-dark">Shared</div>
                                <div class="pack-details text-uppercase fs-14">For individuals and teamS</div>
                                <div class="top-banner align-items-center d-md-flex" style="background:#FFF7EB;">
                                    <div class="price fw-500"><sup>$</sup>8</div>
                                    <div>
                                        <span>Per editor, monthly</span>
                                        <em class="d-block">$3.99/mo when you renew</em>
                                    </div>
                                </div>
                                <!-- /.top-banner -->
                                <ul class="pr-feature style-none">
                                    <li>Unlimited Email</li>
                                    <li>5gb Hosting </li>
                                    <li>2 website 3 sub domain</li>
                                    <li>Email & Live chat</li>
                                    <li>Backling</li>
                                    <li>Discount Programe</li>
                                </ul>
                                <a href="#" class="trial-button">Start 30 days free trial</a>
                                <div class="trial-text pt-25 tx-dark">No card required, cancel any time</div>
                            </div>
                            <!-- /.pr-table-wrapper -->
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="pr-table-wrapper active mt-40 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="pack-name fw-500 tx-dark">WordPress</div>
                                <div class="pack-details text-uppercase fs-14">For individuals and teamS</div>
                                <div class="top-banner align-items-center d-md-flex" style="background:#E2F2FD;">
                                    <div class="price fw-500"><sup>$</sup>12</div>
                                    <div>
                                        <span>For team, monthly</span>
                                        <em class="d-block">$3.99/mo when you renew</em>
                                    </div>
                                </div>
                                <!-- /.top-banner -->
                                <ul class="pr-feature style-none">
                                    <li>Unlimited Email</li>
                                    <li>5gb Hosting </li>
                                    <li>2 website 3 sub domain</li>
                                    <li>Email & Live chat</li>
                                    <li>Backling</li>
                                    <li>Discount Programe</li>
                                </ul>
                                <a href="#" class="btn-fourteen fw-500 tran3s w-100">Start 30 days free trial</a>
                                <div class="trial-text pt-25 tx-dark">No card required, cancel any time</div>
                            </div>
                            <!-- /.pr-table-wrapper -->
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="pr-table-wrapper mt-40 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="pack-name fw-500 tx-dark">VPS</div>
                                <div class="pack-details text-uppercase fs-14">For individuals and teamS</div>
                                <div class="top-banner align-items-center d-md-flex" style="background:#FFEBEB;">
                                    <div class="price fw-500"><sup>$</sup>37</div>
                                    <div>
                                        <span>All users, monthly</span>
                                        <em class="d-block">$3.99/mo when you renew</em>
                                    </div>
                                </div>
                                <!-- /.top-banner -->
                                <ul class="pr-feature style-none">
                                    <li>Unlimited Email</li>
                                    <li>5gb Hosting </li>
                                    <li>2 website 3 sub domain</li>
                                    <li>Email & Live chat</li>
                                    <li>Backling</li>
                                    <li>Discount Programe</li>
                                </ul>
                                <a href="#" class="trial-button">Start 30 days free trial</a>
                                <div class="trial-text pt-25 tx-dark">No card required, cancel any time</div>
                            </div>
                            <!-- /.pr-table-wrapper -->
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="pr-table-wrapper mt-40 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="pack-name fw-500 tx-dark">Dedicated</div>
                                <div class="pack-details text-uppercase fs-14">For individuals and teamS</div>
                                <div class="top-banner align-items-center d-md-flex" style="background:#E4F4F1;">
                                    <div class="price fw-500"><sup>$</sup>79</div>
                                    <div>
                                        <span>All users, monthly</span>
                                        <em class="d-block">$3.99/mo when you renew</em>
                                    </div>
                                </div>
                                <!-- /.top-banner -->
                                <ul class="pr-feature style-none">
                                    <li>Unlimited Email</li>
                                    <li>5gb Hosting </li>
                                    <li>2 website 3 sub domain</li>
                                    <li>Email & Live chat</li>
                                    <li>Backling</li>
                                    <li>Discount Programe</li>
                                </ul>
                                <a href="#" class="trial-button">Start 30 days free trial</a>
                                <div class="trial-text pt-25 tx-dark">No card required, cancel any time</div>
                            </div>
                            <!-- /.pr-table-wrapper -->
                        </div>
                    </div>
                </div>
                <!-- /.pricing-table-area-four -->
                <div class="container">
                    <div class="text-center mt-100 lg-mt-50 wow fadeInUp">
                        <div class="d-inline-block consult-text fs-18 fw-500 tx-dark">
                            Not sure which website hosting plan is right for you? We can help. <a href="contact-us-v3.html" class="fw-normal text-decoration-underline">Free Consultation</a>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.pricing-section-four -->
    
    
    
            <!-- 
                =============================================
                    Feature Section Twenty Three
                ============================================== 
                -->
            <div class="fancy-feature-twentyThree mt-180 lg-mt-100">
                <div class="container">
                    <div class="title-style-seven text-center pb-20 wow fadeInUp">
                        <h2 class="main-title fw-bold tx-dark">All Included <span class="position-relative d-inline-block">Plan <img src="images/shape/shape_97.svg" alt=""></span></h2>
                    </div>
                    <!-- /.title-style-seven -->
    
                    <div class="row gx-xl-5">
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp">
                                <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_63.svg" alt="" class="lazy-img"></div>
                                <h4 class="mt-30 mb-20 lg-mb-10">1-click installation</h4>
                                <p>Integrating your apps couldn't be any easier through Installatron.</p>
                            </div>
                            <!-- /.card-style-eleven -->
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_64.svg" alt="" class="lazy-img"></div>
                                <h4 class="mt-30 mb-20 lg-mb-10">Domain name setup</h4>
                                <p>Linking your site to your domain name has never been easier with GoDaddy registered domain.</p>
                            </div>
                            <!-- /.card-style-eleven -->
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_65.svg" alt="" class="lazy-img"></div>
                                <h4 class="mt-30 mb-20 lg-mb-10">24/7 network security</h4>
                                <p>Get peace of mind, knowing network dsu security and visitors</p>
                            </div>
                            <!-- /.card-style-eleven -->
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp">
                                <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_66.svg" alt="" class="lazy-img"></div>
                                <h4 class="mt-30 mb-20 lg-mb-10">Easy-to-use control panel</h4>
                                <p>Includes industry-standard cPanel to install apps, manage backups and security.</p>
                            </div>
                            <!-- /.card-style-eleven -->
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_67.svg" alt="" class="lazy-img"></div>
                                <h4 class="mt-30 mb-20 lg-mb-10">Resources on-demand</h4>
                                <p>If you require more power for your site, seamlessly increase your CPU/RAM, I/O and storage with 1 click.</p>
                            </div>
                            <!-- /.card-style-eleven -->
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_68.svg" alt="" class="lazy-img"></div>
                                <h4 class="mt-30 mb-20 lg-mb-10">Global Data Centers</h4>
                                <p>Get faster page loads & better customer experience with lorem.</p>
                            </div>
                            <!-- /.card-style-eleven -->
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.fancy-feature-twentyThree -->
    
    
    
    
            <!--
                =====================================================
                    Fancy Short Banner Nine
                =====================================================
                -->
            <div class="fancy-short-banner-nine mt-200 lg-mt-80 wow fadeInUp">
                <div class="bg-wrapper position-relative pt-90 pb-110 lg-pt-50 lg-pb-60">
                    <div class="container position-relative">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="title">
                                    <h6 class="fw-normal text-uppercase tx-dark">DOmain Names</h6>
                                    <h2 class="m0 fw-bold tx-dark pe-xl-5">Every great website needs a great name.</h2>
                                </div>
                                <!-- /.title -->
                            </div>
                            <div class="col-lg-5">
                                <p class="m0 tx-dark fs-20 lh-lg ps-xxl-5 md-mt-20">Your domain name is your website address. While .com names are the most popular, explore .org, .tech, .co and more.</p>
                            </div>
                        </div>
    
                        <div class="domain-search-form mt-50 lg-mt-30">
                            <form action="#" class="d-md-flex align-items-center">
                                <div class="input-wrapper position-relative">
                                    <input type="text" placeholder="Search your  domain name here..">
                                    <div class="select-wrapper">
                                        <select>
                                                <option value="">.com</option>
                                                <option value="">.org</option>
                                                <option value="">.tech</option>
                                                <option value="">.co</option>
                                                <option value="">.me</option>
                                            </select>
                                    </div>
                                    <!-- /.select-wrapper -->
                                </div>
                                <!-- /.input-wrapper -->
                                <button class="search-btn text-uppercase text-white fw-500 fs-18 tran3s">SEARCH</button>
                            </form>
                        </div>
                        <!-- /.domain-search-form -->
                    </div>
                </div>
                <!-- /.bg-wrapper -->
            </div>
            <!-- /.fancy-short-banner-nine -->
    
    
    
    
            <!-- 
                =============================================
                    Feature Section Twenty Four
                ============================================== 
                -->
            <div class="fancy-feature-twentyFour mt-225 lg-mt-130">
                <div class="container">
                    <div class="block-style-four">
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-lg-6 order-lg-last wow fadeInRight">
                                <div class="title-style-eight">
                                    <div class="sc-title text-uppercase">TRSUTED SECURITY</div>
                                    <h2 class="main-title tx-dark fw-bold">Security <br> you can <span class="d-inline-block position-relative">trust</span> blindly.</h2>
                                </div>
                                <p class="fs-20 lh-lg mt-35 mb-50 lg-mt-20 lg-mb-30">Lorem ipsum began as scrambled, Latin derived Cicero's 1st-century BC text De Finibus ubiquitous lorem ipsum passage.</p>
                                <a href="about-v1.html" class="btn-fifteen fw-500 position-relative d-inline-flex align-items-center"><span>Click here to learn more</span> <img src="images/icon/icon_69.svg" alt="" class="ms-2"></a>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-8 m-auto order-lg-first wow fadeInLeft">
                                <div class="illustration-holder md-mt-60"><img src="images/lazy.svg" data-src="images/assets/ils_06.png" alt="" class="lazy-img"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block-style-four -->
    
                    <div class="block-style-four mt-200 lg-mt-100">
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-lg-6 wow fadeInLeft">
                                <div class="title-style-eight">
                                    <div class="sc-title text-uppercase">SITE TRANSFER</div>
                                    <h2 class="main-title tx-dark fw-bold"><span class="d-inline-block position-relative">Migration</span> is super fast with no downtime.</h2>
                                </div>
                                <p class="fs-20 lh-lg mt-35 lg-mt-20">Lorem ipsum dolor sit amet, consectetur adipisci sed do eiusmod tempor incididunt ut labore et dolore magna ad minim veniam.</p>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-8 m-auto wow fadeInRight">
                                <div class="illustration-holder md-mt-30"><img src="images/lazy.svg" data-src="images/assets/ils_07.png" alt="" class="lazy-img ms-auto"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block-style-four -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.fancy-feature-twentyFour -->
    
    
    
            <!-- 
                =============================================
                    Feature Section Twenty Three
                ============================================== 
                -->
            <div class="fancy-feature-twentyThree mt-35">
                <div class="container">
                    <div class="border-top">
                        <div class="row gx-xxl-5">
                            <div class="col-lg-4 col-md-6 d-flex">
                                <div class="card-style-eleven d-flex w-100 mt-85 lg-mt-40 wow fadeInUp">
                                    <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_70.svg" alt="" class="lazy-img"></div>
                                    <div class="text">
                                        <h4 class="mb-10">Submit Ticket</h4>
                                        <p>Elit esse cillum dolo fugiat nulla tur nos ullamo.</p>
                                    </div>
                                </div>
                                <!-- /.card-style-eleven -->
                            </div>
                            <div class="col-lg-4 col-md-6 d-flex">
                                <div class="card-style-eleven d-flex w-100 mt-85 lg-mt-40 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_71.svg" alt="" class="lazy-img"></div>
                                    <div class="text">
                                        <h4 class="mb-10">Choose Migration</h4>
                                        <p>quis nostrud exerct ullamo sucirity finibus ne derived.</p>
                                    </div>
                                </div>
                                <!-- /.card-style-eleven -->
                            </div>
                            <div class="col-lg-4 d-flex">
                                <div class="card-style-eleven d-flex w-100 mt-85 lg-mt-40 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"><img src="images/lazy.svg" data-src="images/icon/icon_72.svg" alt="" class="lazy-img"></div>
                                    <div class="text">
                                        <h4 class="mb-10">Complete</h4>
                                        <p>Duis aute irure dolor reprehe de Cicero's voluptat velit.</p>
                                    </div>
                                </div>
                                <!-- /.card-style-eleven -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.fancy-feature-twentyThree -->
    
    
    
    
            <!--
                =====================================================
                    Feedback Section Six
                =====================================================
                -->
            <div class="feedback-section-six p-30 mt-170 lg-mt-100 wow fadeInUp">
                <div class="bg-wrapper position-relative pt-100 pb-110 lg-pt-60 lg-pb-50">
                    <div class="container">
                        <div class="position-relative inner-wrapper">
                            <div class="row">
                                <div class="col-md-8 m-auto">
                                    <img src="images/icon/icon_73.svg" alt="" class="m-auto">
                                    <div class="title-style-seven text-center pt-30 pb-55">
                                        <h2 class="main-title fw-bold text-white">Check what these clients have to say.</h2>
                                    </div>
                                    <!-- /.title-style-seven -->
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xl-9 col-md-10 m-auto">
                                    <div class="feedback_slider_six">
                                        <div class="item">
                                            <div class="feedback-block-six text-center">
                                                <p class="text-white mb-65 lg-mb-50">“Very easy to set-up. I had no experience with hosting before signing up with HostGator but they've made everything seem simple.”</p>
                                                <h4 class="text-white d-inline-block position-relative">Rashed ka. <span class="fw-light">Italy</span></h4>
                                            </div>
                                            <!-- /.feedback-block-six -->
                                        </div>
                                        <div class="item">
                                            <div class="feedback-block-six text-center">
                                                <p class="text-white mb-65 lg-mb-50">“Very easy to set-up. I had no experience with hosting before signing up with HostGator but they've made everything seem simple.”</p>
                                                <h4 class="text-white d-inline-block position-relative">Zubayer Hasan <span class="fw-light">Spain</span></h4>
                                            </div>
                                            <!-- /.feedback-block-six -->
                                        </div>
                                    </div>
                                    <!-- /.feedback_slider_six -->
                                </div>
                            </div>
                            <ul class="slider-arrows slick-arrow-four sm-mt-40 d-flex justify-content-center style-none">
                                <li class="prev_s2 slick-arrow tran3s"><i class="bi bi-arrow-left"></i></li>
                                <li class="next_s2 slick-arrow tran3s"><i class="bi bi-arrow-right"></i></li>
                            </ul>
                        </div>
                        <!-- /.inner-wrapper -->
                    </div>
                </div>
                <!-- /.bg-wrapper -->
            </div>
            <!-- /.feedback-section-six -->
    
    
    
            <!-- 
                =============================================
                    Feature Section Twenty Five
                ============================================== 
                -->
            <div class="fancy-feature-twentyFive mt-170 lg-mt-100">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-9 m-auto wow fadeInUp">
                            <div class="title-style-seven text-center pb-120 lg-pb-50 wow fadeInUp">
                                <h2 class="main-title fw-bold tx-dark">Got questions? <br> Well, we've got <span class="position-relative d-inline-block">answers <img src="images/shape/shape_99.svg" alt=""></span></h2>
                            </div>
                            <!-- /.title-style-seven -->
                        </div>
    
                        <div class="col-xl-9 col-lg-10 m-auto wow fadeInUp">
                            <div class="accordion accordion-style-two" id="accordionOne">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                What is web hosting?
                                              </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in culpa qui officia deserunt. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                How do you weigh different criteria in your process?
                                              </button>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in culpa qui officia deserunt. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                What can I use to build my website?
                                              </button>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in culpa qui officia deserunt. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                If I already have a website, can I transfer it to your web hosting?
                                              </button>
                                    </div>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in culpa qui officia deserunt. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                How can I accept credit cards online?
                                              </button>
                                    </div>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in culpa qui officia deserunt. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                What are the additional requirements I should know about?
                                              </button>
                                    </div>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in culpa qui officia deserunt. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.accordion-style-two -->
    
                            <div class="text-center wow fadeInUp mt-80 lg-mt-50">
                                <h3 class="fw-bold tx-dark mb-30">Didn’t get your answer?</h3>
                                <a href="contact-us.html" class="btn-fourteen fw-500 tran3s">Submit your question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.fancy-feature-twentyFive -->
    
    
    
    
            <!--
                =====================================================
                    Fancy Short Banner Ten
                =====================================================
                -->
            <div class="fancy-short-banner-ten position-relative mt-225 lg-mt-100 wow fadeInUp">
                <div class="container">
                    <div class="bg-wrapper position-relative pt-50 pb-65 lg-pt-40 lg-pb-50">
                        <div class="row">
                            <div class="col-lg-11 m-auto">
                                <div class="row align-items-center">
                                    <div class="col-xl-6 col-lg-5">
                                        <h2 class="m0 text-white fw-bold md-pb-20">Sign up for best web hosting today.</h2>
                                    </div>
                                    <div class="col-xl-6 col-lg-7">
                                        <div class="d-sm-flex align-items-center justify-content-center justify-content-lg-end">
                                            <a href="contact-us-v3.html" class="btn-line fw-500 tran3s position-relative me-sm-5">Chat with a an Expert</a>
                                            <a href="contact-us-v3.html" class="btn-solid fw-500 tran3s">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.bg-wrapper -->
                </div>
            </div>
            <!-- /.fancy-short-banner-ten -->
    
    