<div class="hero-banner-seven p-30">
  <div class="bg-wrapper position-relative pt-200 pb-20 md-pt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 wow fadeInLeft">
          <!-- <a href="pricing-v3.html" class="slogan d-inline-block"><strong class="fw-500">Offer</strong> is going on till friday, $1.99/mo. <i class="fas fa-chevron-right"></i></a> -->
          <h1 class="hero-heading fw-bold tx-dark mt-25">
            India’s
            <span class="position-relative ms-3 d-inline-block"
              >no. 1
              <img src="../../../../assets/images/shape/shape_95.svg" alt=""
            /></span>
            vehicle scrapping platform.
          </h1>
          <p class="pTag mb-70 pt-35 pe-xxl-5 md-pt-30 lg-mb-40">
            Bikes | Cars | Goods Vehicles | Agriculture &<br />
            Construction Vehicles
          </p>
          <a routerLink="/valuation" class="btn-fourteen fw-500 tran3s"
            >Get Valuation</a
          >
          <a class="btn-fourteen fw-500 tran3s scrapNowBtn">Scrap Now</a>
        </div>
      </div>
      <div class="illustration-holder wow fadeInRight">
        <img
          src="../../../../assets/images/assets/ils_05.png"
          data-src="../../../../assets/images/assets/ils_05.png"
          alt=""
          class="lazy-img main-illustration"
        />
      </div>
      <!-- /.illustration-holder -->
    </div>
    <!-- /.container -->
  </div>
</div>
<!-- /.hero-banner-seven -->

<!-- 
=============================================
  Partner Section Four
============================================== 
-->
<div class="container">
  <section class="customer-logos slider">
    <div class="slide">
      <img src="../../../../assets/images/client-1.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-2.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-3.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-4.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-5.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-6.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-7.png" />
    </div>

    <div class="slide">
      <img src="../../../../assets/images/client-8.png" />
    </div>
    <div class="slide">
      <img src="../../../../assets/images/client-9.png" />
    </div>
    <div class="slide">
      <img src="../../../../assets/images/client-10.png" />
    </div>
    <div class="slide">
      <img src="../../../../assets/images/client-11.png" />
    </div>
  </section>
</div>

<!-- /.partner-section-four -->

<!-- 
=============================================
  Pricing Section Four
============================================== 
-->
<div class="pricing-section-four pt-170 lg-pt-100">
  <div class="container">
    <div class="row">
      <div class="col-xxl-10 col-md-9 m-auto">
        <div class="title-style-seven text-center wow fadeInUp">
          <h2 class="main-title fw-bold tx-dark">
            Get Instant Valuation of your
            <span class="position-relative d-inline-block"
              >scrap vehicle
              <img src="../../../../assets/images/shape/shape_96.svg" alt=""
            /></span>
          </h2>
        </div>
        <!-- /.title-style-seven -->
      </div>
    </div>
  </div>
  <div class="wrapper pricing-table-area-four m-auto pt-80 lg-pt-30">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-sm-6">
        <div
          class="pr-table-wrapper active mt-40 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div class="pack-details text-uppercase fs-14">
            Complete the form below to get estimated value of your scrap vehicle
            in just few clicks.
          </div>

          <!-- /.top-banner -->
          <div class="row">
            <div class="col-12 col-md-3 singleCard">
              <a (click)="goTo('bike')" class="btn-fourteen fw-500 tran3s w-100"
                >Scrap Bike</a
              >
            </div>
            <div class="col-12 col-md-3 singleCard">
              <a (click)="goTo('car')" class="btn-fourteen fw-500 tran3s w-100"
                >Scrap Car</a
              >
            </div>

            <div class="col-12 col-md-3 singleCard">
              <a
                (click)="goTo('goods_vehicle')"
                class="btn-fourteen fw-500 tran3s w-100"
                >Scrap Goods Vehicle</a
              >
            </div>
            <div class="col-12 col-md-3 singleCard">
              <a
                (click)="goTo('agriculture_vehicle')"
                class="btn-fourteen fw-500 tran3s w-100"
                >Scrap Agriculture Vehicles</a
              >
            </div>
          </div>

          <!-- <div class="trial-text pt-25 tx-dark">
            No card required, cancel any time
          </div> -->
        </div>
        <!-- /.pr-table-wrapper -->
      </div>
    </div>
  </div>
  <!-- /.pricing-table-area-four -->
  <div class="container">
    <div class="text-center mt-100 lg-mt-50 wow fadeInUp">
      <div class="d-inline-block consult-text fs-18 fw-500 tx-dark">
        Have a call with our executive?
        <a href="contact-us-v3.html" class="fw-normal text-decoration-underline"
          >Free Consultation</a
        >
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.pricing-section-four -->

<!-- 
=============================================
  Feature Section Twenty Three
============================================== 
-->
<div class="fancy-feature-twentyThree mt-180 lg-mt-100">
  <div class="container">
    <div class="title-style-seven text-center pb-20 wow fadeInUp">
      <h2 class="main-title fw-bold tx-dark">
        Risk of Scrapping with
        <span class="position-relative d-inline-block"
          >Unauthorized
          <img src="../../../../assets/images/shape/shape_97.svg" alt=""
        /></span>
        scrap dealers
      </h2>
    </div>
    <!-- /.title-style-seven -->

    <div class="row gx-xl-5">
      <div class="col-lg-6 col-sm-6 d-flex">
        <div
          class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp"
        >
          <div
            class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
          >
            <img
              src="../../../../assets/images/icon/icon_63.svg"
              data-src="../../../../assets/images/icon/icon_63.svg"
              alt=""
              class="lazy-img"
            />
          </div>
          <h4 class="mt-30 mb-20 lg-mb-10">1-Lack of Paper Work</h4>
          <p>
            Lack of legitimate process for destruction and disposal of scrap
            vehicles. No paper trail maintained to track status.
          </p>
        </div>
        <!-- /.card-style-eleven -->
      </div>
      <div class="col-lg-6 col-sm-6 d-flex">
        <div
          class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div
            class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
          >
            <img
              src="../../../../assets/images/icon/icon_64.svg"
              data-src="../../../../assets/images/icon/icon_64.svg"
              alt=""
              class="lazy-img"
            />
          </div>
          <h4 class="mt-30 mb-20 lg-mb-10">2-Dishonest Activities</h4>
          <p>
            Most of the time the vehicles are meant to be scrapped are found
            running illegally on road & polluting air.
          </p>
        </div>
        <!-- /.card-style-eleven -->
      </div>
      <div class="col-lg-6 col-sm-6 d-flex">
        <div
          class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <div
            class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
          >
            <img
              src="../../../../assets/images/icon/icon_65.svg"
              data-src="../../../../assets/images/icon/icon_65.svg"
              alt=""
              class="lazy-img"
            />
          </div>
          <h4 class="mt-30 mb-20 lg-mb-10">3-Use for illegal activities</h4>
          <p>
            Such vehicles are often used in all types of criminal activities
            which leads to harassment of actual owner of vehicle.
          </p>
        </div>
        <!-- /.card-style-eleven -->
      </div>
      <div class="col-lg-6 col-sm-6 d-flex">
        <div
          class="card-style-eleven text-center text-lg-start w-100 mt-110 lg-mt-50 xs-mt-40 wow fadeInUp"
        >
          <div
            class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
          >
            <img
              src="../../../../assets/images/icon/icon_66.svg"
              data-src="../../../../assets/images/icon/icon_66.svg"
              alt=""
              class="lazy-img"
            />
          </div>
          <h4 class="mt-30 mb-20 lg-mb-10">4-Unsafe Disposal</h4>
          <p>
            Inadequately equipped places are very unsafe in handling of the
            hazardous components or fluids.
          </p>
        </div>
        <!-- /.card-style-eleven -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-twentyThree -->

<!--
=====================================================
  Fancy Short Banner Nine
=====================================================
-->
<!-- <div class="fancy-short-banner-nine mt-200 lg-mt-80 wow fadeInUp">
  <div
    class="bg-wrapper position-relative pt-90 pb-110 lg-pt-50 lg-pb-60"
  >
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="title">
            <h6 class="fw-normal text-uppercase tx-dark">Chat with us</h6>
            <h2 class="m0 fw-bold tx-dark pe-xl-5">
              Scan to Connect with us on WhatsApp
            </h2>
          </div>
        </div>
        <div class="col-lg-5">
          <p class="m0 tx-dark fs-20 lh-lg ps-xxl-5 md-mt-20">
            Your domain name is your website address. While .com names are
            the most popular, explore .org, .tech, .co and more.
          </p>
        </div>
      </div>

      <div class="domain-search-form mt-50 lg-mt-30">
        <form action="#" class="d-md-flex align-items-center">
          <div class="input-wrapper position-relative">
            <input
              type="text"
              placeholder="Search your  domain name here.."
            />
            <div class="select-wrapper">
              <select>
                <option value="">.com</option>
                <option value="">.org</option>
                <option value="">.tech</option>
                <option value="">.co</option>
                <option value="">.me</option>
              </select>
            </div>
          </div>
          <button
            class="search-btn text-uppercase text-white fw-500 fs-18 tran3s"
          >
            SEARCH
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- /.fancy-short-banner-nine -->

<!-- 
          =============================================
              Pricing Section Four
          ============================================== 
          -->
<div class="pricing-section-four pt-170 lg-pt-100">
  <div class="container">
    <div class="row">
      <div class="col-xxl-10 col-md-9 m-auto">
        <div class="title-style-seven text-center wow fadeInUp">
          <h2 class="main-title fw-bold tx-dark">
            <span class="position-relative d-inline-block"
              >Process
              <img src="../../../../assets/images/shape/shape_96.svg" alt=""
            /></span>
            of Vehicle Scrapping
          </h2>
        </div>
        <!-- /.title-style-seven -->
      </div>
    </div>
  </div>
  <div class="wrapper pricing-table-area-four m-auto pt-80 lg-pt-30">
    <div class="row">
      <div class="col-xl-3 col-sm-6">
        <div class="pr-table-wrapper mt-40 wow fadeInUp">
          <div
            class="top-banner align-items-center d-md-flex"
            style="background: #fff7eb"
          >
            <div class="price fw-500">1<sup>st</sup></div>
            <div>
              <span>Inspection and Valuation</span>
            </div>
          </div>
          <!-- /.top-banner -->
          <div class="trial-text pt-25 tx-dark">
            One of our vehicle scrapping executives will connect with you to
            schedule a visit for an overall inspection and evaluation of your
            end-of-life vehicle at your convenient date and time.
          </div>
        </div>
        <!-- /.pr-table-wrapper -->
      </div>
      <div class="col-xl-3 col-sm-6">
        <div
          class="pr-table-wrapper active mt-40 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div
            class="top-banner align-items-center d-md-flex"
            style="background: #e2f2fd"
          >
            <div class="price fw-500">2<sup>nd</sup></div>
            <div>
              <span>Documentation and Pickup</span>
            </div>
          </div>
          <!-- /.top-banner -->
          <div class="trial-text pt-25 tx-dark">
            Our expert team will be documenting the entire process and details
            very carefully and a pickup will be arranged from our end as per
            your next convenient time slot.
          </div>
        </div>
        <!-- /.pr-table-wrapper -->
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="pr-table-wrapper mt-40 wow fadeInUp" data-wow-delay="0.3s">
          <div
            class="top-banner align-items-center d-md-flex"
            style="background: #ffebeb"
          >
            <div class="price fw-500">3<sup>rd</sup></div>
            <div>
              <span>Certificate of Vehicle Scrapping</span>
            </div>
          </div>
          <!-- /.top-banner -->
          <div class="trial-text pt-25 tx-dark">
            A Certificate of Vehicle Scrapping, which indicates the completion
            of your vehicle scrapping process will be awarded to you and will
            act as a record of the process completion with declaration
            certificate
          </div>
        </div>
        <!-- /.pr-table-wrapper -->
      </div>
      <div class="col-xl-3 col-sm-6">
        <div
          class="pr-table-wrapper active mt-40 wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <div
            class="top-banner align-items-center d-md-flex"
            style="background: #e4f4f1"
          >
            <div class="price fw-500">4<sup>th</sup></div>
            <div>
              <span>Helping for De-Registration</span>
            </div>
          </div>
          <!-- /.top-banner -->
          <div class="trial-text pt-25 tx-dark">
            Your vehicle number will then be deregistered from the Central
            Database of Vehicles so as to avoid any kind of misuse of your
            vehicle for any illegal activities in the future.
          </div>
        </div>
        <!-- /.pr-table-wrapper -->
      </div>
    </div>
  </div>
  <!-- /.pricing-table-area-four -->
  <div class="container">
    <div class="text-center mt-100 lg-mt-50 wow fadeInUp">
      <div class="d-inline-block consult-text fs-18 fw-500 tx-dark">
        <a class="fw-normal text-decoration-underline">Know more </a> about
        process
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.pricing-section-four -->

<!-- 
=============================================
  Feature Section Twenty Four
============================================== 
-->
<div class="fancy-feature-twentyFour mt-225 lg-mt-130">
  <div class="container mb-100">
    <div class="row">
      <div class="col-xxl-10 col-md-9 m-auto">
        <div class="title-style-seven text-center wow fadeInUp">
          <h2 class="main-title fw-bold tx-dark">
            <span class="position-relative d-inline-block"
              >Why Choose
              <img src="../../../../assets/images/shape/shape_96.svg" alt=""
            /></span>
            Car Basket
          </h2>
        </div>
        <!-- /.title-style-seven -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="block-style-four">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6 order-lg-last wow fadeInRight">
          <div class="title-style-eight">
            <div class="sc-title text-uppercase">TRSUTED Company</div>
            <h2 class="main-title tx-dark fw-bold">
              <span class="d-inline-block position-relative">Professional</span>
              Scrapping Services
            </h2>
          </div>
          <p class="fs-20 lh-lg mt-35 mb-50 lg-mt-20 lg-mb-30">
            Professional executives with a customer-first approach and services
          </p>
          <!-- <a
            href="about-v1.html"
            class="btn-fifteen fw-500 position-relative d-inline-flex align-items-center"
            ><span>Click here to learn more</span>
            <img src="../../../../assets/images/icon/icon_69.svg" alt="" class="ms-2"
          /></a> -->
        </div>
        <div
          class="col-xl-7 col-lg-6 col-md-8 m-auto order-lg-first wow fadeInLeft"
        >
          <div class="illustration-holder md-mt-60">
            <img
              src="https://getridofmycar.co.uk/wp-content/uploads/2022/07/getRidofMyCar-logoCarSQ-crop.png"
              data-src="../../../../assets/images/assets/ils_06.png"
              alt=""
              class="lazy-img"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.block-style-four -->

    <div class="block-style-four mt-200 lg-mt-100">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6 wow fadeInLeft">
          <div class="title-style-eight">
            <div class="sc-title text-uppercase">Precision Transparency</div>
            <h2 class="main-title tx-dark fw-bold">
              <span class="d-inline-block position-relative">Transparency</span>
              in Weight and Pricing
            </h2>
          </div>
          <p class="fs-20 lh-lg mt-35 lg-mt-20">
            Best in the market pay-outs, on the spot
          </p>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-8 m-auto wow fadeInRight">
          <div class="illustration-holder md-mt-30">
            <img
              src="https://img.freepik.com/free-vector/business-partners-handshake_74855-5222.jpg?auto=format&h=200"
              data-src="../../../../assets/images/assets/ils_07.png"
              alt=""
              class="lazy-img ms-auto"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.block-style-four -->
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-twentyFour -->

<!-- 
=============================================
  Feature Section Twenty Three
============================================== 
-->
<div class="fancy-feature-twentyThree mt-35">
  <div class="container">
    <div class="border-top">
      <div class="row gx-xxl-5">
        <div class="col-lg-4 col-md-6 d-flex">
          <div
            class="card-style-eleven d-flex w-100 mt-85 lg-mt-40 wow fadeInUp"
          >
            <div
              class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
            >
              <img
                src="../../../../assets/images/icon/icon_70.svg"
                data-src="../../../../assets/images/icon/icon_70.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <div class="text">
              <h4 class="mb-10">Seamless Pickup & Transportation</h4>
              <p>Timely pickup with safe and secure transportation</p>
            </div>
          </div>
          <!-- /.card-style-eleven -->
        </div>
        <div class="col-lg-4 col-md-6 d-flex">
          <div
            class="card-style-eleven d-flex w-100 mt-85 lg-mt-40 wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <div
              class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
            >
              <img
                src="../../../../assets/images/icon/icon_71.svg"
                data-src="../../../../assets/images/icon/icon_71.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <div class="text">
              <h4 class="mb-10">Compliant Facilities</h4>
              <p>
                100% Compliant Facilities & Processes with all the Government &
                Environmental Regulations
              </p>
            </div>
          </div>
          <!-- /.card-style-eleven -->
        </div>
        <div class="col-lg-4 d-flex">
          <div
            class="card-style-eleven d-flex w-100 mt-85 lg-mt-40 wow fadeInUp"
            data-wow-delay="0.4s"
          >
            <div
              class="icon d-flex align-items-center justify-content-center position-relative rounded-circle"
            >
              <img
                src="../../../../assets/images/icon/icon_72.svg"
                data-src="../../../../assets/images/icon/icon_72.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <div class="text">
              <h4 class="mb-10">End to End Solutions</h4>
              <p>One-Stop Solution for all your Scrapping Requirements</p>
            </div>
          </div>
          <!-- /.card-style-eleven -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-twentyThree -->

<!--
=====================================================
  Feedback Section Six
=====================================================
-->
<!-- <div class="feedback-section-six p-30 mt-170 lg-mt-100 wow fadeInUp">
  <div
    class="bg-wrapper position-relative pt-100 pb-110 lg-pt-60 lg-pb-50"
  >
    <div class="container">
      <div class="position-relative inner-wrapper">
        <div class="row">
          <div class="col-md-8 m-auto">
            <img src="../../../../assets/images/icon/icon_73.svg" alt="" class="m-auto" />
            <div class="title-style-seven text-center pt-30 pb-55">
              <h2 class="main-title fw-bold text-white">
                Check what these clients have to say.
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-9 col-md-10 m-auto">
            <div class="feedback_slider_six">
              <div class="item">
                <div class="feedback-block-six text-center">
                  <p class="text-white mb-65 lg-mb-50">
                    “Very easy to set-up. I had no experience with hosting
                    before signing up with HostGator but they've made
                    everything seem simple.”
                  </p>
                  <h4 class="text-white d-inline-block position-relative">
                    Rashed ka. <span class="fw-light">Italy</span>
                  </h4>
                </div>
              </div>
              <div class="item">
                <div class="feedback-block-six text-center">
                  <p class="text-white mb-65 lg-mb-50">
                    “Very easy to set-up. I had no experience with hosting
                    before signing up with HostGator but they've made
                    everything seem simple.”
                  </p>
                  <h4 class="text-white d-inline-block position-relative">
                    Zubayer Hasan <span class="fw-light">Spain</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul
          class="slider-arrows slick-arrow-four sm-mt-40 d-flex justify-content-center style-none"
        >
          <li class="prev_s2 slick-arrow tran3s" style="">
            <i class="bi bi-arrow-left"></i>
          </li>
          <li class="next_s2 slick-arrow tran3s" style="">
            <i class="bi bi-arrow-right"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<!-- /.feedback-section-six -->

<!-- 
=============================================
  Feature Section Twenty Five
============================================== 
-->
<div class="fancy-feature-twentyFive mt-170 lg-mt-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-9 m-auto wow fadeInUp">
        <div class="title-style-seven text-center pb-120 lg-pb-50 wow fadeInUp">
          <h2 class="main-title fw-bold tx-dark">
            Got questions? <br />
            Well, we've got
            <span class="position-relative d-inline-block"
              >answers
              <img src="../../../../assets/images/shape/shape_99.svg" alt=""
            /></span>
          </h2>
        </div>

        <!-- /.title-style-seven -->
      </div>

      <div class="col-xl-9 col-lg-10 m-auto wow fadeInUp">
        <div class="accordion accordion-style-two" id="accordionOne">
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Why should I scrap my vehicle?
              </button>
            </div>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Government agencies passed a new rule to trash End-of-Life
                  (ELV) vehicles, which are a major source of pollution in
                  India, in response to rapidly rising levels of pollution and
                  traffic. So, if your car/vehicle is more than 15 years old (10
                  years for diesel), it must be scrapped.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                How will Car Basket India help me Scrap my old car?
              </button>
            </div>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Car Basket will connect you to the nearest registered vehicle
                  scrapping facilities and ensure that all the documents are
                  legally done and that your car/vehicle is properly scrapped.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                What is the process of scrapping my car/vehicle? How long does
                it take for the process to be completed?
              </button>
            </div>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>There are 5 steps:</p>
                <ul>
                  <li>Inspection and valuation</li>
                  <li>Documentation and pickup</li>
                  <li>Certificate of deposit</li>
                  <li>Helping for De-Registration of vehicle number</li>
                  <li>Certificate of vehicle scrapping</li>
                  <li>
                    The time taken for the process to be completed depends on
                    various factors. For more details, you can speak to our
                    experts here.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                What happens to my car/vehicle once I scrap it?
              </button>
            </div>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  We legally scrap cars and aim to reduce its environmental
                  footprint through its eco-friendly practices of recycling
                  scrap car/vehicle. It symbolizes an effort towards creating a
                  zero waste, zero pollution ecosystem. We will separate the
                  reusable parts, recycle them, and scrap the non-recyclable
                  parts responsibly and efficiently.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                What if some parts of my car are missing? Can I still scrap it?
              </button>
            </div>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Yes, we do accept such vehicles. Though it will have
                  implications on the price offered to the owner.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                I do not have all the documentation for my car. Will Car Basket
                India help me scrap my vehicle?
              </button>
            </div>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Documentation is important; we accept a car/vehicle that has
                  atleast one document of it. For more details, you can contact
                  our experts.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.accordion-style-two -->

        <div class="text-center wow fadeInUp mt-80 lg-mt-50">
          <h3 class="fw-bold tx-dark mb-30">Didn’t get your answer?</h3>
          <a href="contact-us.html" class="btn-fourteen fw-500 tran3s"
            >Submit your question</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-twentyFive -->

<!--
=====================================================
  Fancy Short Banner Ten
=====================================================
-->
<!-- <div
  class="fancy-short-banner-ten position-relative mt-225 lg-mt-100 wow fadeInUp"
>
  <div class="container">
    <div
      class="bg-wrapper position-relative pt-50 pb-65 lg-pt-40 lg-pb-50"
    >
      <div class="row">
        <div class="col-lg-11 m-auto">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-5">
              <h2 class="m0 text-white fw-bold md-pb-20">
                Sign up for best web hosting today.
              </h2>
            </div>
            <div class="col-xl-6 col-lg-7">
              <div
                class="d-sm-flex align-items-center justify-content-center justify-content-lg-end"
              >
                <a
                  href="contact-us-v3.html"
                  class="btn-line fw-500 tran3s position-relative me-sm-5"
                  >Chat with a an Expert</a
                >
                <a
                  href="contact-us-v3.html"
                  class="btn-solid fw-500 tran3s"
                  >Get Started</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /.fancy-short-banner-ten -->
