@media (max-width: 767px) {
  .btn-fourteen {
    margin-bottom: 19px;
  }
}

/* Slider */

/* Slider */

.card-style-eleven h4 {
  font-family: gordita;
}
.card-style-eleven p {
  font-family: gordita;
}
.pr-table-wrapper .price {
  font-family: gordita;
}
.top-banner {
  font-family: gordita;
}
.trial-text {
  font-family: gordita;
}
.main-title {
  font-family: gordita;
}
.sc-title {
  font-family: gordita;
}

.hero-banner-seven .bg-wrapper {
  background: url(../../../../assets/images/shape/shape_94.svg) center
    bottom/cover no-repeat;
  z-index: 5;
}

section.customer-logos.slider {
  display: flex;
}

/*for Demo Only*/
/* Slider */

.wrappers {
  display: flex;
  overflow: hidden;

  padding: 2.5rem;
}
.item {
  animation: animate 25s alternate linear infinite;

  max-width: 400px;
  min-width: 250px;
}
.item img {
  width: 100%;
  padding: 20px;
}
.container:hover .item {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translate3d(1300px, 0, 0);
  }
  100% {
    transform: translate3d(-1300px, 0, 0);
  }
}
@media (max-width: 767px) {
  .slider-area h2 {
    font-size: 30px;
  }
  .wrappers {
    width: 95%;
    border-radius: 0;
    padding: 0;
  }
}
.illustration-holder-mob{
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .illustration-holder{
    display: none;
  }
  .illustration-holder-mob{
    display: block;
    margin-bottom: 20px;
  }
  .hero-banner-seven .hero-heading{
    font-size: 59px;
  }
}