        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
            <div class="inner-banner-three text-center p-30">
                <div class="bg-wrapper text-center" style="background-image:url(images/assets/bg-17.svg);">
                    <div class="container">
                        <div class="title-style-five">
                            <h2 class="main-title tx-dark fw-bold">Contact Us</h2>
                        </div>
                        <p class="fs-20 mt-30 lg-mt-20">Get our all info and also can message us directly from here</p>
                    </div>
    
                    <div class="container">
                        <div class="contact-section-two text-start mt-80 lg-mt-60">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="form-style-three md-mb-60 wow fadeInLeft">
                                        <form action="inc/contact.php" id="contact-form" data-toggle="validator">
                                            <div class="messages"></div>
                                            <div class="row controls">
                                                <div class="col-12">
                                                    <div class="input-group-meta form-group mb-35">
                                                        <label class="d-block" for="">Name*</label>
                                                        <input type="text" placeholder="Rashed Kabir" name="name" required="required" data-error="Name is required.">
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
    
                                                <div class="col-12">
                                                    <div class="input-group-meta form-group mb-40">
                                                        <label class="d-block" for="">Email*</label>
                                                        <input type="email" placeholder="demo@domain.com" name="email" required="required" data-error="Valid email is required.">
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="input-group-meta form-group mb-30">
                                                        <textarea placeholder="Your message*" name="message" required="required" data-error="Please,leave us a message."></textarea>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-12"><button class="btn-one fw-500 w-100 text-uppercase fs-14 d-block">Send Message</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.form-style-three -->
                                </div>
    
                                <div class="col-xl-4 col-lg-5 ms-auto wow fadeInRight">
                                    <div class="address-block-three d-flex mb-70 lg-mb-40 mt-20">
                                        <div class="icon"><img src="../../../../assets/images/icon/icon_161.svg" alt=""></div>
                                        <div class="text">
                                            <h5 class="title">Our Address</h5>
                                            <p>BTM Layout, KEB Colony, <br>Bengaluru, Karnataka 560029.</p>
                                        </div>
                                    </div>
                                    <!-- /.address-block-three -->
                                    <div class="address-block-three d-flex mb-70 lg-mb-40">
                                        <div class="icon"><img src="../../../../assets/images/icon/icon_162.svg" alt=""></div>
                                        <div class="text">
                                            <h5 class="title">Contact Info</h5>
                                            <p>Open a chat or give us call at <br><a href="tel:8903331448" class="call">8903331448</a></p>
                                        </div>
                                    </div>
                                    <!-- /.address-block-three -->
                                    <div class="address-block-three d-flex">
                                        <div class="icon"><img src="../../../../assets/images/icon/icon_163.svg" alt=""></div>
                                        <div class="text">
                                            <h5 class="title">Live Support</h5>
                                            <p>Urgent go to live chat portal <br><a  class="webaddress">support@carbasket.in</a></p>
                                        </div>
                                    </div>
                                    <!-- /.address-block-three -->
                                </div>
                            </div>
                        </div>
                        <!-- /.contact-section-two -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.bg-wrapper -->
            </div>
            <!-- /.inner-banner-three -->
    
    
    
    
    
        <!--
                =====================================================
                    Footer
                =====================================================
                -->
                <div class="footer-style-seven p-30 theme-basic-footer">
                    <!-- <div class="bg-wrapper position-relative">
                      <div class="container">
                        <div class="row justify-content-between">
                          <div class="col-xl-2 footer-intro mb-40">
                            <div class="logo">
                                <a
                                class="d-block"
                                style="font-weight: 700; font-size: larger"
                                >CAR BASKET</a
                              >
                            </div>
                          </div>
                          <div class="col-lg-2 col-sm-4 mb-30">
                            <h5 class="footer-title tx-dark fw-normal">Links</h5>
                            <ul class="footer-nav-link style-none">
                              <li><a>Home</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="about-v1.html">About us</a></li>
                              <li><a href="service-v1.html">Service</a></li>
                              <li><a href="blog-v1.html">Blog</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-2 col-sm-4 mb-30">
                            <h5 class="footer-title tx-dark fw-normal">Support</h5>
                            <ul class="footer-nav-link style-none">
                              <li><a href="service-details.html">Item Support</a></li>
                              <li><a href="service-details.html">Forum</a></li>
                              <li><a href="service-details.html">Report Abuse</a></li>
                              <li><a href="service-details.html">Live</a></li>
                            </ul>
                          </div>
                          <div class="col-xl-2 col-lg-3 col-sm-4 mb-30">
                            <h5 class="footer-title tx-dark fw-normal">Products</h5>
                            <ul class="footer-nav-link style-none">
                              <li><a href="service-details.html">Web hosting</a></li>
                              <li><a href="service-details.html">Cloud hosting</a></li>
                              <li><a href="service-details.html">WordPress hosting</a></li>
                              <li><a href="service-details.htmll">VPS hosting</a></li>
                              <li><a href="service-details.html">Dedicated hosting</a></li>
                            </ul>
                          </div>
                          <div class="col-xl-4 col-lg-5 mb-30 form-widget">
                            <h5 class="footer-title tx-dark fw-normal">Newslettert</h5>
                            <h6 class="pt-15 pb-20 md-pt-10">Join our newsletter</h6>
                            <form action="#" class="position-relative">
                              <input type="email" placeholder="Enter your email" />
                              <button class="tran3s fw-500 position-absolute">
                                Sign Up
                              </button>
                            </form>
                            <div class="fs-14 mt-10">
                              We only send interesting and relevant emails.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- /.bg-wrapper -->
            