    <!-- 
			=============================================
				Theme Main Menu
			============================================== 
			-->
      <header class="theme-main-menu sticky-menu theme-menu-six">
        <div class="inner-content position-relative">
          <div class="d-flex align-items-center justify-content-between">
            <div class="logo order-lg-0">
              <a
                class="d-block"
                style="font-weight: 700; font-size: larger"
                >CAR BASKET</a
              >
            </div>
            <!-- <div class="logo order-lg-0"><a class="d-block"><img src="../../../../assets/images/logo/logo_01.png" alt="" width="auto"></a></div> -->

            <div
              class="right-widget ms-auto ms-lg-0 d-flex align-items-center order-lg-3"
            >
              <!-- <a
                href="signin.html"
                class="login-btn-two fw-500 d-flex align-items-center me-3 me-xl-5"
              >
                <img src="../../../../assets/images/icon/icon_62.svg" alt="" class="me-2" />
                <span>login</span>
              </a> -->
              <a
                href="tel:+8903331448"
                class="start-btn-one fs-18 fw-500 tran3s position-relative d-none d-lg-block"
                >Get Free Consultation</a
              >
            </div>
            <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
              <button
                class="navbar-toggler d-block d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                  <li class="d-block d-lg-none">
                    <div class="logo">
                        <a routerLink="/home"
                        class="d-block"
                        style="font-weight: 700; font-size: larger"
                        >CAR BASKET</a
                      >
                    </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown" >
                    <a
                      class="nav-link"
                      routerLink="/home"
                      role="button"
                      aria-expanded="false"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item dropdown mega-dropdown" >
                    <a
                      class="nav-link"
                      routerLink="/about"
                      role="button"
                      aria-expanded="false"
                      >About Us</a
                    >
                  </li>
                  <li class="nav-item dropdown mega-dropdown" >
                    <a
                      class="nav-link"
                      routerLink="/contact"
                      role="button"
                      aria-expanded="false"
                      >Contact Us</a
                    >
                  </li>
                  <!-- <li class="nav-item dropdown mega-dropdown-md">
                    <a
                      class="nav-link dropdown-toggle"
                      
                      role="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Pages</a
                    >
                    <ul class="dropdown-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="menu-column">
                              <h6 class="mega-menu-title">Essential</h6>
                              <ul class="style-none mega-dropdown-list">
                                <li>
                                  <a href="about-v1.html" class="dropdown-item"
                                    ><span>About- insurance</span></a
                                  >
                                </li>
                                <li>
                                  <a href="about-v2.html" class="dropdown-item"
                                    ><span>About- Real Estate</span></a
                                  >
                                </li>
                                <li>
                                  <a href="about-v3.html" class="dropdown-item"
                                    ><span>About- Agency</span></a
                                  >
                                </li>
                                <li>
                                  <a href="about-v4.html" class="dropdown-item"
                                    ><span>About- L.Generation</span></a
                                  >
                                </li>
                                <li>
                                  <a href="pricing.html" class="dropdown-item"
                                    ><span>Pricing</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="pricing-v2.html"
                                    class="dropdown-item"
                                    ><span>Pricing- Sass Product</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="pricing-v3.html"
                                    class="dropdown-item"
                                    ><span>Pricing- Web Hosting</span></a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="menu-column">
                              <h6 class="mega-menu-title">Features</h6>
                              <ul class="style-none mega-dropdown-list">
                                <li>
                                  <a
                                    href="feature(sass).html"
                                    class="dropdown-item"
                                    ><span>Feature- Sass Product</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="feature(web-hosting).html"
                                    class="dropdown-item"
                                    ><span>Feature- Web Hosting</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="service-v1.html"
                                    class="dropdown-item"
                                    ><span>Service- insurance</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="service-v2.html"
                                    class="dropdown-item"
                                    ><span>Service- Real Estate</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="service-v3.html"
                                    class="dropdown-item"
                                    ><span>Service- L.Generation</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="service-v4.html"
                                    class="dropdown-item"
                                    ><span>Service- Agency</span></a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="service-details.html"
                                    class="dropdown-item"
                                    ><span>Service Details</span></a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="menu-column">
                              <h6 class="mega-menu-title">Others</h6>
                              <ul class="style-none mega-dropdown-list">
                                <li>
                                  <a
                                    href="testimonial.html"
                                    class="dropdown-item"
                                    ><span>Testimonials</span></a
                                  >
                                </li>
                                <li>
                                  <a href="team-v1.html" class="dropdown-item"
                                    ><span>Team One</span></a
                                  >
                                </li>
                                <li>
                                  <a href="team-v2.html" class="dropdown-item"
                                    ><span>Team Two</span></a
                                  >
                                </li>
                                <li>
                                  <a href="faq.html" class="dropdown-item"
                                    ><span>FAQ</span></a
                                  >
                                </li>
                                <li>
                                  <a href="signin.html" class="dropdown-item"
                                    ><span>Signin</span></a
                                  >
                                </li>
                                <li>
                                  <a href="signup.html" class="dropdown-item"
                                    ><span>Signup</span></a
                                  >
                                </li>
                                <li>
                                  <a href="404.html" class="dropdown-item"
                                    ><span>404 Error</span></a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      
                      role="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Portfolio</a
                    >
                    <ul class="dropdown-menu">
                      <li>
                        <a href="portfolio-v1.html" class="dropdown-item"
                          ><span>Portfolio 01</span></a
                        >
                      </li>
                      <li>
                        <a href="portfolio-v2.html" class="dropdown-item"
                          ><span>Portfolio 02</span></a
                        >
                      </li>
                      <li>
                        <a href="portfolio-v3.html" class="dropdown-item"
                          ><span>Portfolio 03</span></a
                        >
                      </li>
                      <li>
                        <a href="portfolio-v4.html" class="dropdown-item"
                          ><span>Portfolio 04</span></a
                        >
                      </li>
                      <li>
                        <a href="portfolio-v5.html" class="dropdown-item"
                          ><span>Portfolio 05</span></a
                        >
                      </li>
                      <li>
                        <a href="portfolio-v6.html" class="dropdown-item"
                          ><span>Portfolio 06</span></a
                        >
                      </li>
                      <li>
                        <a href="portfolio-v7.html" class="dropdown-item"
                          ><span>Portfolio 07</span></a
                        >
                      </li>
                      <li class="dropdown-submenu dropdown">
                        <a
                          class="dropdown-item dropdown-toggle"
                          data-bs-toggle="dropdown"
                          data-bs-auto-close="outside"
                          aria-expanded="false"
                          
                          ><span>Single Portfolio</span></a
                        >
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              href="portfolio-details-v1.html"
                              class="dropdown-item"
                              ><span>Portfolio details One</span></a
                            >
                          </li>
                          <li>
                            <a
                              href="portfolio-details-v2.html"
                              class="dropdown-item"
                              ><span>Portfolio details Two</span></a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      
                      role="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Blog</a
                    >
                    <ul class="dropdown-menu">
                      <li>
                        <a href="blog-v1.html" class="dropdown-item"
                          ><span>List With sidebar</span></a
                        >
                      </li>
                      <li>
                        <a href="blog-v2.html" class="dropdown-item"
                          ><span>Grid With sidebar</span></a
                        >
                      </li>
                      <li>
                        <a href="blog-v3.html" class="dropdown-item"
                          ><span>Grid Layout</span></a
                        >
                      </li>
                      <li>
                        <a href="blog-details.html" class="dropdown-item"
                          ><span>Blog Details</span></a
                        >
                      </li>
                    </ul>
                  </li> -->
                  <!-- <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      
                      role="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Contact</a
                    >
                    <ul class="dropdown-menu">
                      <li>
                        <a href="contact-us.html" class="dropdown-item"
                          ><span>Contact- insurance</span></a
                        >
                      </li>
                      <li>
                        <a href="contact-us-v2.html" class="dropdown-item"
                          ><span>Contact- Agency</span></a
                        >
                      </li>
                      <li>
                        <a href="contact-us-v3.html" class="dropdown-item"
                          ><span>Contact- Web Hosting</span></a
                        >
                      </li>
                      <li>
                        <a href="contact-us-v4.html" class="dropdown-item"
                          ><span>Contact- L.Generation</span></a
                        >
                      </li>
                    </ul>
                  </li> -->
                </ul>
                <!-- Mobile Content -->
                <div class="mobile-content d-block d-lg-none">
                  <div
                    class="d-flex flex-column align-items-center justify-content-center mt-70"
                  >
                    <a
                      href="tel:+8903331448"
                      class="start-btn-one fs-18 fw-500 tran3s position-relative"
                      >Get Free Consultation</a
                    >
                    
                  </div>
                </div>
                <!-- /.mobile-content -->
              </div>
            </nav>
          </div>
        </div>
        <!-- /.inner-content -->
      </header>
      <!-- /.theme-main-menu -->