<div class="bottom-footer lg-pb-20 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 order-lg-0 mt-15">
          <ul
            class="d-flex justify-content-center justify-content-lg-start footer-nav style-none"
          >
            <li><a href="faq.html">Privacy &amp; Terms.</a></li>
            <li><a href="contact-us-v3.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 order-lg-2 mt-15">
          <ul
            class="d-flex justify-content-center justify-content-lg-end social-icon style-none"
          >
            <li>
              <a ><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a ><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a ><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 order-lg-1 mt-15">
          <p class="copyright text-center m0">
            Copyright @2022 janu inc.
          </p>
        </div>
      </div>
    </div>
  </div>