      <!--
			=====================================================
				Footer
			=====================================================
			-->
            <div class="footer-style-seven p-30 theme-basic-footer">
                <div class="bg-wrapper position-relative">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-xl-2 footer-intro mb-40">
                                <div class="logo"><a href="index.html"><img src="images/logo/logo_01.png" alt="" width="95"></a></div>
                            </div>
                            <div class="col-lg-2 col-sm-4 mb-30">
                                <h5 class="footer-title tx-dark fw-normal">Links</h5>
                                <ul class="footer-nav-link style-none">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="about-v1.html">About us</a></li>
                                    <li><a href="service-v1.html">Service</a></li>
                                    <li><a href="blog-v1.html">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-sm-4 mb-30">
                                <h5 class="footer-title tx-dark fw-normal">Support</h5>
                                <ul class="footer-nav-link style-none">
                                    <li><a href="service-details.html">Item Support</a></li>
                                    <li><a href="service-details.html">Forum</a></li>
                                    <li><a href="service-details.html">Report Abuse</a></li>
                                    <li><a href="service-details.html">Live</a></li>
                                </ul>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-sm-4 mb-30">
                                <h5 class="footer-title tx-dark fw-normal">Products</h5>
                                <ul class="footer-nav-link style-none">
                                    <li><a href="service-details.html">Web hosting</a></li>
                                    <li><a href="service-details.html">Cloud hosting</a></li>
                                    <li><a href="service-details.html">WordPress hosting</a></li>
                                    <li><a href="service-details.htmll">VPS hosting</a></li>
                                    <li><a href="service-details.html">Dedicated hosting</a></li>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-lg-5 mb-30 form-widget">
                                <h5 class="footer-title tx-dark fw-normal">Newslettert</h5>
                                <h6 class="pt-15 pb-20 md-pt-10">Join our newsletter</h6>
                                <form action="#" class="position-relative">
                                    <input type="email" placeholder="Enter your email">
                                    <button class="tran3s fw-500 position-absolute">Sign Up</button>
                                </form>
                                <div class="fs-14 mt-10">We only send interesting and relevant emails.</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.bg-wrapper -->
    
                <div class="bottom-footer lg-pb-20 position-relative">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 order-lg-0 mt-15">
                                <ul class="d-flex justify-content-center justify-content-lg-start footer-nav style-none">
                                    <li><a href="faq.html">Privacy &amp; Terms.</a></li>
                                    <li><a href="contact-us-v3.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 order-lg-2 mt-15">
                                <ul class="d-flex justify-content-center justify-content-lg-end social-icon style-none">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 order-lg-1 mt-15">
                                <p class="copyright text-center m0">Copyright @2022 janu inc.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.bottom-footer -->
            </div>
            <!-- /.footer-style-seven -->